<div class="min-h-screen flex flex-col">
  <div
    class="px-6 py-3 flex items-center justify-between border-b border-textColor"
  >
    <h1 class="text-xl font-bold text-textColor">upload.ai</h1>

    <div class="flex items-center gap-3">
      <span class="text-sm text-muted-foreground">
        Desenvolvido com 💜 no NLW da Rocketseat
      </span>

      <mat-divider [vertical]="true" class="h-6" />

      <Button
        class="border-textColor flex justify-around px-3 py-1 gap-1 border-solid border-2 rounded-md text-textColor h-full w-28"
      >
        <lucide-angular
          name="github"
          color="#FFF"
          class="my-icon"
        ></lucide-angular>
        GitHub
      </Button>
    </div>
  </div>

  <main class="flex-1 p-6 flex gap-6">
    <div class="flex flex-col flex-1 gap-4">
      <div class="grid grid-rows-2 gap-4 flex-1">
        <textarea
          class="resize-none p-4 leading-relaxed bg-default border-[1px] border-solid border-muted-foreground rounded-lg"
          placeholder="Inclua o prompt para a IA..."
          value="input"
          onChange="handleInputChange"
        ></textarea>
        <textarea
          class="resize-none p-4 leading-relaxed bg-default border-[1px] border-solid border-muted-foreground rounded-lg"
          placeholder="Resultado gerado pela IA"
          readOnly
          value="completion"
        ></textarea>
      </div>

      <p class="text-sm text-muted-foreground">
        Lembre-se: você pode utilizar a variável
        <code class="text-violet-400">transcription</code> no seu prompt para
        adicionar o conteúdo da transcrição do vídeo selecionado.
      </p>
    </div>

    <aside class="w-80 space-y-6">
      <VideoInputForm onVideoUploaded="setVideoId" />

      <mat-divider class="bg-textColor" />

      <form onSubmit="{handleSubmit}" class="space-y-6">
        <div class="space-y-2">
          <Label class="text-textColor">Prompt</Label>
          <PromptSelect onPromptSelected="{setInput}" />
        </div>

        <div class="space-y-2">
          <mat-form-field color="primary" appearance="outline" class="w-full">
            <mat-label>Modelo</mat-label>
            <mat-select value="gpt3.5">
              <mat-option value="gpt3.5" [disabled]="true">
                GPT 3.5-turbo 16k
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="block text-sm text-muted-foreground italic">
            Você poderá customizar essa opção em breve
          </span>
        </div>

        <mat-divider class="bg-textColor" />

        <div class="space-y-4 flex flex-col justify-start">
          <Label class="text-textColor">Temperatura</Label>
          <mat-slider class="w-full" min="0" max="1" step="0.1" value="0.5">
            <input matSliderThumb />
          </mat-slider>

          <span
            class="block text-sm text-muted-foreground italic leading-relaxed"
          >
            Valores mais altor tendem a deixar o resultado mais criativo e com
            possíveis erros.
          </span>
        </div>

        <mat-divider class="bg-textColor" />

        <Button
          disabled="isLoading"
          type="submit"
          class="w-full bg-textColor text-default rounded-md flex justify-center items-center h-10 font-bold"
        >
          Executar
          <lucide-angular name="Wand2" class="w-4 h-4 ml-2"></lucide-angular>
        </Button>
      </form>
    </aside>
  </main>
</div>
