.mat-mdc-select,
::ng-deep.mdc-floating-label,
::ng-deep.mat-mdc-select-placeholder {
  color: #FFF !important;
}

::ng-deep.mdc-notched-outline,
::ng-deep.mdc-notched-outline__leading,
::ng-deep.mdc-notched-outline__trailing {

  border-color: #FFF !important;
}

::ng-deep.mdc-notched-outline__notch {
  border-color: #FFF !important;
  border-right: none !important;
}
